@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;

  @apply bg-bg-main;
}
